<footer id="colophon" class="copyright quest-row" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright-text">
                <a href="https://github.com/jimersylee">Made with Love</a>
            </div>
            <div class="col-md-6 social-icon-container clearfix">
                <ul>
                    <li>
                        <a href="https://github.com/jimersylee">Github</a>
                        <a href="https://resume.jimersylee.com">简历</a>
                        <a href="https://www.jimersylee.com">个人主页</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
