<div id="secondary" class="widget-area main-sidebar col-md-3" role="complementary">
	{% include "widget/search.twig" %}
	{% include "widget/categories.twig" %}
	{% include "widget/archive.twig" %}
	{% include "widget/recent.twig" %}
	{% include "widget/tagcloud.twig" %}
	{% include "widget/text.twig" %}
</div><!-- #secondary -->
